/* Basic Setup----------------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900,800,700,600,500,300,200,100);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Exo 2", sans-serif;
  font-size: 100%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "Exo 2", sans-serif;
  font-size: 100%;
  font-weight: 300;
}
.clearfix {zoom: 1}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* --------------------------------------------------------------------------------------------------- */
.App{
    width: 100vw;
    text-align: center;
    font-weight: bolder;
}
.Title{
    font-size: 3rem;
    margin-bottom: 30px;
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.solve-button{
    margin-top: 30px;
    font-size: 1.5rem;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
table {
    margin:1em auto;
}
td {
    width:40px;
    height:40px;
    border:1px solid #707070;
    text-align:center;
}
td:first-child {
    border-left:2px solid #000;
}
td:nth-child(3n) {
    border-right:2px solid #000; ;
}
tr:first-child {
    border-top:2px solid #000;;
}
tr:nth-child(3n) td {
    border-bottom:2px solid #000; ;
}
input {
    width: 100%;
    border: 0px;
    font-size: 2rem;
    text-align: center;
}